* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.2rem;
}
.calculator {
  border: 5px solid rgb(51, 51, 51);
  background-color: rgb(39, 39, 39);
  border-radius: 30px;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calculator-input {
  margin-top: 30px;
  margin-left: 20px;
  width: 90%;
  font-size: 4rem;
  height: 70px;
  border: 1px;
  border-radius: 50px;
  border-color: rgb(16, 202, 131);
  background-color: transparent;
  color: #fff;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
}
button {
  margin-top: 5px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #000000;
  background-color: rgb(112, 112, 112);

  font-size: 2.5rem;
  color: rgb(255, 251, 251);
}
button:hover {
  background-color: #eaeaea;
  opacity: 0.7;
}
.operator {
  color: #fff;
  background-color: #fd9644;
}

.clear {
  background-color: #f54f49;
  color: #fff;
  border-color: #b0353a;
}
.clear:hover {
  background-color: #940005;
  opacity: 0.7;
}
.equal-sign {
  background-color: #4e9ed4;
  border-color: #337cac;
  color: #fff;
  grid-area: 2/4/6/5;
  height: 100%;
}
.equal-sign:hover {
  background-color: #2e86c0;
}
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
